<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}
    {%block content%}
    <h1>This is List</h1>
    <ul>
    {%for snack in object_list%}
        <li>
            <a href="{% url 'detail_view' snack.pk %}">{{ snack.title }}</a>
            <h4>{{snack.purchaser}}</h4>
            <a href="{% url 'delete_view' snack.pk %}">Delete</a>
            <a href="{% url 'update_view' snack.pk %}">Update</a>

            
            <br>
            <br>
            <br>


        </li>

    {%endfor%}
    </ul>
    {%endblock%}



</body>
</html>